{
  "presets": ["es2015"],
  "plugins": [
    ["babel-root-import", {
      "rootPathPrefix": "@",
      "rootPathSuffix": "src"
    }, {
      "rootPathPrefix": "~",
      "rootPathSuffix": "."
    }], 
    "add-module-exports"],
  "retainLines": true,
  "sourceMaps": true
}